<!DOCTYPE html>
<html>
<head>
    <title>CRUD Operation PostgreSQL</title>
</head>
<body>
    <center>
        <h1>Insert Record PostgreSQL</h1>
        <hr/>
        <form method="POST">
            {% csrf_token %}
            <table border = '1'>
                <tr>
                    <td>Employee Name</td>
                    <td><input type="text" placeholder="Enter Employee Name" name="empname"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" placeholder="Enter Employee Email" name="email"></td>
                </tr>
                <tr>
                    <td>Occupation</td>
                    <td><select name="occupation">
                        <option selected disabled = true>-- Select Occupation --</option>
                        <option>Programmer</option>
                        <option>HR</option>
                        <option>Digital Marketer</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td><input type="text" placeholder="Phone No" name="mobile_no"></td>
                </tr>
                    <td>Salary</td>
                    <td><input type="text" placeholder="Salary" name="salary"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><input type="radio" placeholder="Gender" value="M" name="gender">Male |
                        <input type="radio" placeholder="Gender" value="F" name="gender">Female
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Insert"/></td>
                    <td>{% if messages %}
                        {% for mess in messages %}
                        <b style="color: green">{{mess}}</b>
                        {% endfor %}
                        {% endif %}</td>
                </tr>
            </table>
            <a href="{% url 'showemp' %}">Home Page</a>
        </form>
 
    </center>
</body>
</html>

